html, body {
  height: 100%;
}

body {
  font: caption;
  margin: 0;
  display: flex;
  flex-flow: column;
}

button, .test-class {
  background: #07304C;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  outline: none;
}

input {
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 0 10px;
}

input::placeholder {
  color: lightgray;
  font-size: small;
}

header {
  background: lightgray;
  display: flex;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid silver;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

main {
  flex-grow: 1;
  overflow-y: scroll;
}

#no-links {
  font-weight: bold;
  color: silver;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 80px;
  z-index: -1;
}

#search-bar {
  flex-grow: 1;
}

.read-link {
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom: lightgray 0.1px solid;
  background: #FAFAFA;
  padding: 8px;
  border-left: 6px solid lightgray;
  -webkit-user-select: none;
}

.read-link:hover {
  background-color: #EEE;
}

.read-link.selected {
  border-left-color: #07304C;
}

.read-link img {
  width: 20%;
  margin-right: 25px;
}
